@import '../../../styles/custom/variables';

.article-author-bottom {
  display: flex;
  padding: 40px 60px;

  img {
    width: 120px;
    height: 120px;
    flex: 0 0 120px;
    border-radius: 50%;
    border: 1px solid #c1d5e0;
    margin-right: 40px;
  }

  .author-text {
    flex: 1;
  }
}